@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h4>This is an application for diabetes patients to track their blood sugar levels.</h4>
    <br />
    <h5> You can also track your insulin and carbohydrate data.</h5>
    
</div>

<div id="bubble-wrapper">
</div>


