@model List<CarbData> 

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>  
            <td>@item.userPhone </td><td>@item.measureDate </td>
            <td>@item.timeOfDay </td>
            <td>@item.gCarb </td>
        </tr>
    }
</table>

<div class="modal-footer">
    <div class="text-center" style="font-size: 150%">

        <a class="linkt" asp-area="" asp-controller="MeasurePage" asp-action="AddCarbMeasure">Add New Carb Data</a>

    </div>
</div>   
    
    
